@import url("reset.css");
.a {
  height: 75px;
  background: #222222;
  width: 100%;
}
.a2 {
  width: 1160px;
  height: 75px;
  margin: 0 auto;
  line-height: 75px;
}
.a2 span {
  float: left;
  font-size: 20px;
}
.a2 span a {
  text-decoration: none;
  color: white;
}
.a2 span img {
  margin-top: 15px;
  float: left;
  margin-right: 5px;
}
.a2 ul {
  float: right;
  color: white;
}
.a2 ul li {
  float: left;
  margin-left: 25px;
}
.a3 {
  width: 100%;
  height: 380px;
  background: url("../img/images/3_03.png");
}
.col-md-12 {
  margin: 0 auto;
  text-align: center;
  color: white;
  padding-left: 360px;
  padding-top: 45px;
}
.active {
  margin-top: 35px;
  margin-left: 15px;
  background: ;
}
.a4 {
  width: 100%;
  height: 85px;
  background: #eeeeee;
}
.col-md-13 {
  text-align: center;
  padding-left: 180px;
  margin: 0 auto;
}
.a5 {
  padding-left: 10px;
  float: left;
}
.a6 {
  padding-left: 10px;
  float: left;
}
.a7 {
  padding-top: 60px;
  width: 1140px;
  height: 500px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}
.col-sm-3 span {
  display: block;
  width: 255px;
  height: 200px;
  border-radius: 5px;
}
.col-sm-3 span h2 {
  margin-top: 10px;
}
.col-sm-3 span:hover {
  background: #E7C3C3;
}
.glyphicon-glass {
  color: red;
  margin-top: -0.5px;
  float: left;
}
.a8 {
  padding-top: 40px;
  width: 1140px;
  height: 300px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.col-md-13 {
  text-align: center;
}
.col-sm-12 {
  text-align: center;
}
.a9 {
  padding-top: 40px;
  width: 1140px;
  height: 450px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.t {
  background: #ccc;
}
.t2 {
  background: #959595;
}
.cc {
  width: 50px;
  height: 50px;
}
.mycon div {
  font-size: 20px;
  background: #E6E6E6;
}
.mycon div:first-child {
  position: relative;
  width: 49%;
}
@media (min-width: 769px) {
  .mycon div:first-child:before {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 999;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-top: 28px solid transparent;
    border-right: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 28px solid #E6E6E6;
  }
}
@media (max-width: 768px) {
  .mycon div:first-child:after {
    position: absolute;
    top: 100%;
    left: 10%;
    z-index: 999;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid #E6E6E6;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
  }
  .mycon div:last-child {
    background: yellow!important;
    width: 100%!important;
    margin-left: 0 !important;
  }
  .mycon div:first-child {
    width: 100%;
  }
}
.mycon div:last-child {
  background: #9BA2A8;
  width: 49%;
  margin-left: 2%;
}
.mcon div:first-child:after {
  position: absolute;
  top: 100%;
  left: 10%;
  z-index: 999;
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid #E6E6E6;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  margin-top: 20px;
}
.navbar-nav {
  background: #50b3eb;
  color: white;
}
.container-fluid {
  background: #50b3eb;
  color: white;
}
.container-fluid .navbar-header a {
  color: white;
}
.container-fluid .navbar-header a:hover {
  background: #168bcd;
  padding: 15px;
  color: white;
}
.container-fluid .collapse .nav li a {
  color: white;
  padding: 15px;
}
.container-fluid .collapse .nav li a:hover {
  background: #168bcd;
  padding: 15px 13px;
  color: white;
}
.c {
  color: white;
}
.navbar-right {
  margin: 0 auto;
}
.a2 {
  text-align: left;
  color: #3885ae;
  height: 65px;
  border-bottom: 1px solid #ccc;
  margin-top: -20px;
}
.aa {
  margin-top: 20px;
}
.nav-pills li a {
  line-height: 30px;
  width: 120px;
  height: 53px;
  background-color: #d9edf7;
  color: #3885ae;
  font-weight: bold;
  font-size: 14px;
  margin: 5px;
}
.col-sm-8 {
  text-align: center;
  margin-top: 18px;
  color: #555555;
}
.big {
  width: 600px;
  height: 600px;
  background: yellow;
  margin: 0 auto;
  line-height: 600px;
}
.small {
  width: 100px;
  height: 100px;
  background: green;
  float: left;
  left: 40%;
  top: 40%;
  position: relative;
}
.one {
  margin-top: 30px;
  width: 500px;
  height: 500px;
  background: yellow;
  margin: 0 auto;
  line-height: 600px;
}
.two {
  width: 100px;
  height: 100px;
  background: green;
  float: left;
  left: 200px;
  top: 200px;
  position: relative;
}
