@import url("reset.css");
.navbar-header a {
  color: white;
}
.navbar-header a:hover {
  background: #168bcd;
  padding: 15px;
  color: white;
}
.collapse .nav li a {
  padding: 15px;
}
.collapse .nav li a:hover {
  background: #e6e6e6;
  padding: 15px 13px;
}
.navbar-default {
  background-color: none;
  border-color: #e7e7e7;
}
.c {
  float: left;
}
.x {
  margin-left: 15px;
}
.main .container .row .col-md-2 ul {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #357bb7;
}
.main .container .row .col-sm-10 .table .a2 {
  border-bottom: 1px solid #ccc;
}
.col-sm-10 {
  border: 1px solid #ccc;
}
.a4 {
  background: #daecf8;
  margin-top: 10px;
}
.a7 {
  margin-top: 8px;
}
footer {
  text-align: center;
}
